<div class = "home">
        <input type="file" (change)="onFileSelected($event)"/>
        <button mat-raised-button (click) = "onUploadFile()">Upload File</button>
    
        <mat-form-field class="example-full-width">
            <input matInput placeholder="Enter Text Here">
        </mat-form-field>
    
        <button mat-raised-button (click) = "onUploadText()">Upload Text</button>
        <app-audio-record></app-audio-record>
        

    
        <img src = "../assets/3dot.jpg" class="threeDot">
        <label>Welcome To BorgSupport</label>
        
</div>

<div class="info">
    <label >Conversation</label>
    <label>Suggestion</label>   
    <div class="besideText">
        <textarea id="box1" rows="20" cols="40" readonly>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel felis imperdiet, convallis tortor et, varius est. Ut nec cursus lectus, nec dictum ipsum. Maecenas vitae ex lacinia, bibendum arcu sed, vehicula leo. Vivamus consectetur elementum ornare. Nunc luctus dapibus tortor, a venenatis orci blandit ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris a tortor aliquet, porttitor felis non, faucibus nulla. Cras ultricies neque at risus maximus, a egestas tellus rutrum. Morbi rutrum, enim vitae lobortis fringilla, turpis ante dignissim urna, vitae volutpat eros nisi nec nibh.

Maecenas pellentesque in lorem at tempus. Curabitur sit amet erat ut nibh congue dictum ac sed est. Aliquam erat volutpat. Duis sodales, sem quis suscipit porta, est lorem malesuada lectus, et commodo nisi nulla in mi. Suspendisse fringilla molestie urna, ac aliquam nibh bibendum vel. Proin vel viverra purus. Integer sit amet massa nulla.

Vestibulum pulvinar faucibus enim. Praesent odio magna, efficitur nec libero non, porttitor faucibus leo. Phasellus ultrices turpis vel ipsum bibendum molestie. Nulla interdum urna scelerisque mauris elementum, in malesuada libero volutpat. Vestibulum varius, risus sed rhoncus commodo, lorem dolor finibus ipsum, quis consectetur est ex gravida eros. Nunc eros neque, interdum vitae magna et, faucibus tincidunt felis. Suspendisse vehicula tempor massa, nec commodo neque auctor id. Maecenas ut fermentum ex. Etiam bibendum non sem at cursus. Nulla vitae elit ex. Aliquam erat volutpat. Aenean pulvinar auctor nisi, ac sagittis sapien. Proin ultrices ex non nunc mollis, non mattis diam lacinia. Fusce vitae arcu interdum, convallis mi ac, imperdiet quam. Quisque nisl purus, tristique in metus posuere, varius rhoncus sapien. Integer rutrum arcu orci, sed facilisis urna pharetra sed.

Nulla pretium interdum mauris, at luctus massa ultrices eget. Morbi lacus nisl, aliquet et pulvinar non, aliquam in felis. Sed euismod arcu non lorem iaculis scelerisque. Aliquam eu lectus non sapien accumsan sollicitudin. Fusce ultricies sapien a nunc egestas, maximus suscipit erat viverra. Integer a ex ante. Fusce at tempus mi, eget porttitor felis. Duis feugiat velit in maximus pretium. Duis elementum congue est a dictum. Donec porttitor ultricies arcu, eget vulputate tellus volutpat vitae. Aliquam sollicitudin lorem ac laoreet semper.

Nullam eget ultrices libero. Sed varius nisi tristique nulla sodales, in commodo magna bibendum. Etiam non porttitor diam, ut varius odio. Sed a pretium tortor. Vivamus auctor sapien eu venenatis vehicula. Fusce in viverra risus. Quisque nec egestas magna, id vehicula enim. Quisque arcu ipsum, eleifend pulvinar dapibus quis, rhoncus vel arcu. Nam id ex at quam convallis viverra eu quis augue. Pellentesque congue finibus magna id maximus. Fusce efficitur dui vitae eros tempus tristique.
        </textarea>
             
        <textarea id="box2" rows="20" cols="30" readonly>
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel felis imperdiet, convallis tortor et, varius est. Ut nec cursus lectus, nec dictum ipsum. Maecenas vitae ex lacinia, bibendum arcu sed, vehicula leo. Vivamus consectetur elementum ornare. Nunc luctus dapibus tortor, a venenatis orci blandit ut. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Mauris a tortor aliquet, porttitor felis non, faucibus nulla. Cras ultricies neque at risus maximus, a egestas tellus rutrum. Morbi rutrum, enim vitae lobortis fringilla, turpis ante dignissim urna, vitae volutpat eros nisi nec nibh.
    
    Maecenas pellentesque in lorem at tempus. Curabitur sit amet erat ut nibh congue dictum ac sed est. Aliquam erat volutpat. Duis sodales, sem quis suscipit porta, est lorem malesuada lectus, et commodo nisi nulla in mi. Suspendisse fringilla molestie urna, ac aliquam nibh bibendum vel. Proin vel viverra purus. Integer sit amet massa nulla.
    
    Vestibulum pulvinar faucibus enim. Praesent odio magna, efficitur nec libero non, porttitor faucibus leo. Phasellus ultrices turpis vel ipsum bibendum molestie. Nulla interdum urna scelerisque mauris elementum, in malesuada libero volutpat. Vestibulum varius, risus sed rhoncus commodo, lorem dolor finibus ipsum, quis consectetur est ex gravida eros. Nunc eros neque, interdum vitae magna et, faucibus tincidunt felis. Suspendisse vehicula tempor massa, nec commodo neque auctor id. Maecenas ut fermentum ex. Etiam bibendum non sem at cursus. Nulla vitae elit ex. Aliquam erat volutpat. Aenean pulvinar auctor nisi, ac sagittis sapien. Proin ultrices ex non nunc mollis, non mattis diam lacinia. Fusce vitae arcu interdum, convallis mi ac, imperdiet quam. Quisque nisl purus, tristique in metus posuere, varius rhoncus sapien. Integer rutrum arcu orci, sed facilisis urna pharetra sed.
    
    Nulla pretium interdum mauris, at luctus massa ultrices eget. Morbi lacus nisl, aliquet et pulvinar non, aliquam in felis. Sed euismod arcu non lorem iaculis scelerisque. Aliquam eu lectus non sapien accumsan sollicitudin. Fusce ultricies sapien a nunc egestas, maximus suscipit erat viverra. Integer a ex ante. Fusce at tempus mi, eget porttitor felis. Duis feugiat velit in maximus pretium. Duis elementum congue est a dictum. Donec porttitor ultricies arcu, eget vulputate tellus volutpat vitae. Aliquam sollicitudin lorem ac laoreet semper.
    
    Nullam eget ultrices libero. Sed varius nisi tristique nulla sodales, in commodo magna bibendum. Etiam non porttitor diam, ut varius odio. Sed a pretium tortor. Vivamus auctor sapien eu venenatis vehicula. Fusce in viverra risus. Quisque nec egestas magna, id vehicula enim. Quisque arcu ipsum, eleifend pulvinar dapibus quis, rhoncus vel arcu. Nam id ex at quam convallis viverra eu quis augue. Pellentesque congue finibus magna id maximus. Fusce efficitur dui vitae eros tempus tristique.
        </textarea>
    </div>


</div>

  
    