.home{
    position: fixed;  
    top: 0; 
    left: 0; 

    /* Preserve aspet ratio */
    min-width: 100%;
    min-height: 100%;
    background: linear-gradient(90deg, #EDE574 0%, #E1F5C4 100%);
    background-repeat: no-repeat;
    background-size: cover;

}

.info{

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    padding-top: 5%;
}

.bottom-button{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size:80px;
    
}

.sidenav{
    position: absolute;
    left: 88%;
    top: 20%;
}

#box2{
    margin-left: 20px;
}
.threeDot{
    position: absolute;
    width: 50px;
    height: 50px;
    left: 1367px;
    top: 38px;

}

.happy {
    background-color: #aaffaa
}

.sad {
    background-color: #ffaaaa
}