
<div class = "home">
    
        <label>Welcome To BorgSupport</label>
        
    
        
    <div class = sidenav>
        <input type="file" (change)="onFileSelected($event)"/>
        <button mat-raised-button (click) = "onUploadFile()">Upload File</button>
    </div>        
    
        
    <div class = "info">
        <div>
            <label>Label</label>
            <div id="transcript">
                <ul></ul>
            </div>
        </div>
        <div>
            <label>Label2</label>
            <div>
                <ul id="talkingPoints">

                </ul>
                <!-- <textarea cols=30 rows = 30>Something2</textarea> -->
            </div>
        </div>

    </div>
    <div class ="bottom-button">
        <app-audio-record></app-audio-record>
    </div>
</div>



</div>

  
    